@import url(./reset.css);
@import url(./animation.css);

.hidden {
  display: none;
}

img {
  width: 100%;
}

.hash-tag {
  background: #769FCD;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  line-height: 1;
}

.id-color,
.pw-color {
  color: #ff000050;
  cursor: pointer;
}

.id-color:hover,
.pw-color:hover {
  color: #ff000090
}

body {
  min-width: 1440px;
}

/* Header */
header {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1;
}

header ul {
  display: flex;
  color: #EAEAEA;
}

header ul li {
  margin-right: 10px;
  font-size: 22px;
}

header ul li a {
  transition: color .3s ease;
}

header ul li a:hover {
  color: #769FCD;
}

header ul li a.clicked {
  color: #769FCD;
}

/* main */
main {
  height: 100vh;
  position: relative;
  scroll-snap-type: y mandatory;
  overflow: auto;
  background: #F7FBFC;
}

main > section {
  scroll-snap-align: center;
}

/* home */
#home {
  display: flex;
}

#home .left,
#home .right {
  width: 50%;
  height: 100vh;
}

#home .left {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  color: #EAEAEA;
}

#home .left a {
  transition: color .3s ease-in-out;
}

#home .left a:hover {
  color: #769FCD;
}

#home .right {
  background: #B9D7EA;
  padding: 160px 100px;
}

.text-box {
  position: relative;
  color: #ffffff;
  font-size: 50px;
  height: 400px;
  width: 300px;
  overflow: hidden;
}

.text-box * {
  position: absolute;
}

.big-text {
  font-size: 120px;
  animation: bigText 3s ease 1;
}

.first-text,
.last-text,
.nick-text {
  color: #EAEAEA;
}

.mer-text {
  top: 55px;
  left: 80px;
  animation: merText 3s ease 1;
}

.ming-text {
  writing-mode: vertical-rl;
  top: 120px;
  animation: mingText 1s ease-in-out 1;
}

.first-text {
  top: 120px;
  left: -200px;
  animation: firstText 2s 1s ease-in-out 1 forwards;
}

.last-text {
  top: 190px;
  left: 310px;
  animation: lastText 1s ease-out 1s 1 forwards;
}

.nick-text {
  writing-mode: vertical-rl;
  top: 500px;
  left: 120px;
  animation: nickText 2s ease 1s 1 forwards;
}

/* Information */
#info {
  height: 100vh;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.info-title {
  font-size: 82px;
  color: #769FCD;
  padding: 10px 40px;
  border-bottom: 10px solid #B9D7EA;
  margin-bottom: 60px;
  width: 60%;
}

.info-wrap {
  font-size: 32px;
  width: 60%;
  padding: 0 40px;
}

.info-wrap [class^="info-"] {
  color: #769FCD;
  margin-bottom: 20px;
}

[class^="info-"]:last-child {
  margin-bottom: 0;
}

.info-wrap span {
  display: inline-block;
  width: 130px;
  color: #B8B7B7;
}

/* Skill */
#skill {
  display: flex;
  height: 100vh;
}

#skill article {
  width: 50%;
}

.skill-list {
  position: relative;
}

.skill-list li {
  position: absolute;

}

.skill-list li button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  font-size: 70px;
  color: #EAEAEA;
  transition: color .3s ease-in-out;
}

.skill-list li button.clicked {
  color:#B9D7EA;
}

.skill-list li button:hover {
  color: #B9D7EA;
}

.skill-list li:nth-child(1) {
  top: 20%;
  left: 10%;
}

.skill-list li:nth-child(2) {
  top: 35%;
  left: 50%;
}

.skill-list li:nth-child(3) {
  top: 50%;
  left: 15%;
}

.skill-list li:nth-child(4) {
  top: 60%;
  left: 70%;
}

.skill-list li:nth-child(5) {
  top: 80%;
  left: 25%;
}

.skill-img {
  background: #B9D7EA;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}

.skill-img img {
  transition: filter, transform .3s ease-in-out;
  filter: grayscale(100%);
  transform: scale(.5);
}

.skill-img img.choose {
  filter: grayscale(0);
  transform: scale(1);
}

/* Portfolio */
#portfolio {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  height: 85%;
  width: 90%;
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.protfolio-box {
  border: 1px solid #999;
  width: 400px;
  height: 100%;
  border-radius: 5px;
  overflow-y: scroll;
}

.box-info-wrap {
  padding: 10px;
}

.box-info-wrap .title {
  font-size: 24px;
  margin-bottom: 10px;
}

.box-info-wrap .purpose {
  margin-bottom: 10px;
  display: flex;
}

.box-info-wrap .purpose .left {
  width: 35%;
  margin-right: 5px;
  font-weight: 700;
  font-size: 18px;
}


.box-info-wrap .purpose .right {
  font-weight: 400;
}

.main-functions {
  margin-bottom: 10px;
}

.main-functions li {
  line-height: 1.2;
}

.main-functions li:first-child {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
}

.support {
  margin-bottom: 10px;
  line-height: 1.5;
}

.use-skill {
  display: flex;
  flex-direction: column;
}

.use-skill li:first-child {
  margin-bottom: 5px;
}

.skill-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

/* nowPosition */
.now-position {
  position: fixed;
  left: 10px;
  bottom: 20px;
  font-size: 32px;
  color: #B9D7EA;
  writing-mode: vertical-rl;
  animation: nowPosition 1.5s ease infinite;
}