main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
}

.img-wrap {
  height: 70%;
  position: relative;
}

.img-wrap img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.img-wrap .top-img {z-index: 10;}

.fa {
  color: #fff;
}

[class$=-btn] {
  position: absolute;
  z-index: 999;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  top: 50%;
  font-size: 2em;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.impression {
  height: 30%;
  padding: 20px;
}

.impression ul li {
  line-height: 1.5;
}

